@Styles.Render("~/Content/fullcalendar")

@section Content {

    <p></p>
    
    <div id='calendar' style="width:100%"></div> 
}
@section Scripts {
    @* 
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/app")
    *@

    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/bundles/fullcalendar")

    <script>
        $(document).ready(function() {

            var accessToken = common.getSessionToken();

            if (accessToken) {
                $("#calendar").fullCalendar({
                    customButtons: {
                        addScheduleButton: {
                            text: 'Add Schedule',
                            click: function() {
                                window.location.href = "/Schedule/Create";
                            }
                        }
                    },
                    header: {
                        left: 'prev,next today addScheduleButton',
                        center: 'title',
                        right: 'month,agendaWeek,agendaDay'
                    },
                    windowResize: function(view) {
                        if ($(window).width() < 1024) {
                            $('#calendar').fullCalendar('changeView', 'agendaDay');
                        } else {
                            $('#calendar').fullCalendar('changeView', 'agendaWeek');
                        }   
                    },
                    defaultView: $(window).width() < 1024 ? 'agendaDay' : 'agendaWeek',
                    editable: true,
                    allDaySlot: false,
                    selectable: true,
                    height: 'auto',
                    timeFormat: 'H:mm',
                    firstDay: 1,
                    views: {
                        basic: {
                            // options apply to basicWeek and basicDay views
                        
                        },
                        agenda: {
                            // options apply to agendaWeek and agendaDay views
                            slotDuration: '01:00:00',
                            slotLabelFormat: 'H(:mm)',
                            slotLabelInterval: '02:00:00'
                            
                        },
                        week: {
                            // options apply to basicWeek and agendaWeek views
                            titleFormat: 'DD MMMM YYYY',
                            columnFormat: 'ddd D/M'
                        },
                        day: {
                            // options apply to basicDay and agendaDay views
                            titleFormat: 'DD MMM YYYY'
                        }
                    },
                    eventSources: [
                        {
                            url: '/Calendar/getEvents',
                            headers: { 'Authorization': 'Bearer ' + accessToken }
                        }
                    ],
                    eventClick: function(calEvent, jsEvent, view) {
                        window.location.href = '/Schedule/Details/' + calEvent.id;
                    },
                    select: function(startDate, endDate, allDay, jsEvent, view) {
                        //common.setStartEndDate(startDate, endDate);
                    },
                    monthNames: ['Gennaio', 'Febbraio', 'Marzo', 'Aprile', 'Maggio', 'Giugno', 'Luglio', 'Agosto', 'Settembre', 'Ottobre', 'Novembre', 'Dicembre'],
                    monthNamesShort: ['Gen', 'Feb', 'Mar', 'Apr', 'Mag', 'Giu', 'Lug', 'Ago', 'Set', 'Ott', 'Nov', 'Dic'],
                    dayNames: ['Domenica','Lunedi','Martedi','Mercoledi','Giovedi','Venerdi','Sabato'],
                    dayNamesShort: ['Dom','Lun','Mar','Mer','Gio','Ven','Sab'],
                    eventRender: function(event, element) {
                        var content = element.find('div.fc-title').text();
                        element.find('div.fc-title').html(content);
                    }
                });
            }
        });

    </script>
}