@Styles.Render("~/Content/fullcalendar")

@section Content {

    <p></p>
    
    <div id='calendar' style="width:100%"></div> 
}
@section Scripts {
    @* 
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/app")
    *@

    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/bundles/fullcalendar")

    <script>
        $(document).ready(function() {

            var accessToken = common.getSessionToken();

            if (accessToken) {
                $("#calendar").fullCalendar({
                    customButtons: {
                        addScheduleButton: {
                            text: 'Add Schedule',
                            click: function() {
                                window.location.href = "/Schedule/Create";
                            }
                        }
                    },
                    header: {
                        left: 'prev,next today addScheduleButton',
                        center: 'title',
                        right: 'month,agendaWeek,agendaDay'
                    },
                    defaultView: 'agendaWeek',
                    editable: true,
                    allDaySlot: false,
                    selectable: true,
                    slotMinutes: 15,
                    contentHeight: 550,
                    firstDay: 1,
                    views: {
                        basic: {
                            // options apply to basicWeek and basicDay views
                        
                        },
                        agenda: {
                            // options apply to agendaWeek and agendaDay views
                            slotDuration: '01:00:00',
                            slotLabelFormat: 'H(:mm)'
                        },
                        week: {
                            // options apply to basicWeek and agendaWeek views
                        
                        },
                        day: {
                            // options apply to basicDay and agendaDay views
                        
                        }
                    },
                    eventSources: [
                        {
                            url: '/Calendar/getEvents',
                            headers: { 'Authorization': 'Bearer ' + accessToken }
                        }
                    ],
                    eventClick: function(calEvent, jsEvent, view) {
                        window.location.href = '/Schedule/Details/' + calEvent.id;
                    },
                    select: function(startDate, endDate, allDay, jsEvent, view) {
                        //common.setStartEndDate(startDate, endDate);
                    }
                });
            }
        });

    </script>
}